@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-heading: "serif";
    --font-sans: "Poppins", sans-serif;
    --color-pearl-bush-50: #f9f6f3;
    --color-pearl-bush-100: #ebe3db;
    --color-pearl-bush-200: #e0d3c8;
    --color-pearl-bush-300: #ccb6a5;
    --color-pearl-bush-400: #b79580;
    --color-pearl-bush-500: #a87d67;
    --color-pearl-bush-600: #9b6c5b;
    --color-pearl-bush-700: #81584d;
    --color-pearl-bush-800: #694943;
    --color-pearl-bush-900: #563e38;
    --color-pearl-bush-950: #2e1f1c;
}

/* first */
/* --color-swirl-50: #f8f6f4;
--color-swirl-100: #eeebe6;
--color-swirl-200: #d1c7bd;
--color-swirl-300: #c5b8ac;
--color-swirl-400: #ad998a;
--color-swirl-500: #9c8373;
--color-swirl-600: #8f7467;
--color-swirl-700: #785f56;
--color-swirl-800: #624f4a;
--color-swirl-900: #51413d;
--color-swirl-950: #2a2220; */

/* second */

/* --color-tan-50: #f9f6f3;
--color-tan-100: #f2ebe2;
--color-tan-200: #e4d5c4;
--color-tan-300: #cbad8d;
--color-tan-400: #c09877;
--color-tan-500: #b3805c;
--color-tan-600: #a66e50;
--color-tan-700: #8a5844;
--color-tan-800: #70493c;
--color-tan-900: #5b3d33;
--color-tan-950: #311e19; */

/* --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji"; */

/* Works for most modern browsers */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.is-invalid {
    @apply border-red-500 focus:border-red-500 focus:ring-1 focus:ring-red-500;
}
.clear-search {
    @apply bg-stone-200 size-4 text-gray-500 cursor-pointer rounded-full absolute  right-0 -translate-x-2/3 top-3 inline-flex justify-center items-center;
}

.uploaded-image {
    @apply border-pearl-bush-400 border-2 size-24 object-cover object-center rounded-md hover:bg-gray-200 z-20;
}

.remove-image-btn {
    @apply bg-gray-400 size-3.5 text-gray-500 cursor-pointer rounded-full absolute top-9 left-19 inline-flex justify-center items-center;
}

.menu-box-shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.selected {
    @apply bg-pearl-bush-500 text-white rounded-lg;
}

.selected-cancel {
    @apply bg-pearl-bush-500 text-white;
}

/* chocie js css */

/* .choices__inner {
    @apply border border-pearl-bush-300 focus:ring-2 focus:ring-pearl-bush-400 rounded px-3 py-2;
}
.choices__list--multiple .choices__item {
    @apply bg-pearl-bush-200 text-pearl-bush-800 border-0 rounded-full px-3 py-1 mr-1 mb-1;
}

.choices__inner input {
    @apply focus:outline-none focus:ring-0;
}

.choices__item--selectable.is-highlighted {
    background-color: #f9f6f3 !important;
    color: #694943 !important;
} */

/* tom select */
.ts-control {
    @apply border-gray-300 py-3 rounded-md ps-3 focus:ring-2 focus:ring-pearl-bush-500;
}
.ts-dropdown {
    @apply border py-2 border-pearl-bush-300 rounded-lg;
}
.ts-dropdown .option {
    @apply hover:bg-pearl-bush-100 hover:text-pearl-bush-800 cursor-pointer py-3;
}
.ts-control .item {
    /* #ebe3db */
    /* #e0d3c8 */
    background-color: #e0d3c8 !important;
    color: #694943 !important;
    padding: 1px 10px !important;
    border-radius: 30px !important;
}

.transition-max-height {
    transition: max-height 0.3s ease-in-out;
}
.pagination-disable {
    @apply pointer-events-none opacity-50  text-gray-500;
}
.pagination-icon {
    @apply px-2 py-1 text-sm hover:text-pearl-bush-600 text-pearl-bush-500 rounded-md;
}
.pagination-active {
    @apply size-8 inline-flex justify-center items-center rounded-full text-sm font-bold text-white bg-pearl-bush-300;
}
.selected-size {
    @apply bg-pearl-bush-400 text-white hover:text-white hover:bg-pearl-bush-400 font-semibold;
}

.active-address {
    @apply border-2 border-pearl-bush-400 bg-pearl-bush-50;
}

.active-tab {
    @apply border-b-2 py-3 border-amber-500 text-amber-500;
}

.active-filter {
    @apply bg-pearl-bush-400  text-white text-sm  rounded-full  font-medium;
}

.active-selected-stock {
    @apply bg-pearl-bush-100 text-pearl-bush-700 border border-pearl-bush-300;
}
